@{
  Layout = "_Layout";
}

<div class="Contact"></div>
<p>Please feel free to contact us with any questions or concerns.</p>

<h2>To reach us by phone please dial<a href="tel:208-867-5309">208-867-5309</a></h2>
<h2>Email us directly<a href="mailto: dottielovesapothecary@DottiesApothecary">here</a></h2>
</div>