@{
  Layout = "_Layout";
}

<div class="home">
  <h2>Dotties Apothecary Est 2007</h2>
  <br>
  <h4>Welcome to your one stop shop for your all your medicinal needs.</h4>
  <br>
  <h4>We are a family run business based in Boise Idaho and have always put our customers first.  Thank you for visting our store and happy shopping!<h4>
</div>
